html, body, #root {
	margin: 0;
	height: 100%;
	word-wrap: break-word;
}

body {
	font-family: 'Courier New', Courier, monospace;
}

#root {
	display: flex;
	flex-flow: row;
}

.content {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 1em;
	flex: 1 1 auto;
}

.post-list {
	flex: 1 1 auto;
	overflow: hidden scroll;
}

.post-list p {
	margin: 0;
}

.post-box {
	display: flex;
	flex-flow: row;
	flex: 0 0 auto;
	margin-top: auto;
}

.login-box {
	margin: 1em;
	display: flex;
	flex-flow: column;
}

.post-box input, .login-box input {
	flex: 1 1 auto;
}

.post-box input[type='submit'] {
	width: 5em;
	flex: 0 0 auto;
}

.user-list {
	flex: 0 0 auto;
	width: 7em;
}

.error {
	color: red;
}