html, body, #root, .content {
	margin: 0;
	height: 100%;
}

p {
	margin: 0;
}

.posts {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.post-list {
	flex: 1 1 auto;
	overflow: hidden scroll;
	margin: 1em;
	margin-bottom: 0;
}

.post-box {
	flex: 0 0 auto;
	margin: 1em;
	margin-top: auto;
}

.post-box form {
	display: flex;
	flex-flow: row;
}

.post-box-input {
	flex: 1 1 auto;
}